fastapi
uvicorn
PyGithub
python-dotenv
pydantic
google-genai
networkx
tree-sitter>=0.22.0
tree-sitter-python
tree-sitter-javascript
groq
chromadb
sqlalchemy
psycopg2-binary
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
python-jose
protobuf==4.25.3